
<div class="home-slider" style="display: none;">
    <ul class="slides">
        <!--<li ng-repeat="product in banner.Products" data-bg-image="images/slide-1.jpg">-->
        <li ng-repeat="product in banner | orderBy: 'Order'" id="slide-{{$index + 1}}" ng-class="$index == 0 ? 'activeSlide' : 'disableSlide'" style="background-image: url('images/{{product.Id + '-B.png'}}')" class="imgBanner">
            <div class="container">
                <div class="slide-content">

                    <!--<h2 class="slide-title">{{product.Name}}</h2>
                    <small class="slide-subtitle"><b>{{product.Value | currency: 'R$ '}}</b></small>

                    <p>{{product.ShortDescription}}</p>

                    <a href="/" class="button">Comprar</a>-->
                </div>
                <a href="#/Produto/{{product.Id}}">
                    <img ng-repeat="image in product.Images | filter: { ImageType: 2 } | limitTo: 1" src="{{image.URL}}" class="img344x394 slide-image">
                </a>
            </div>
        </li>
        <!--<li data-bg-image="images/slide-2.jpg">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">Kill Zone 3</h2>
                    <small class="slide-subtitle">$190.00</small>

                    <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>

                    <a href="cart.html" class="button">Add to cart</a>
                </div>
                <img src="images/game-cover-2.jpg" class="slide-image">
            </div>
        </li>
        <li data-bg-image="images/slide-3.jpg">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">Kill Zone 3</h2>
                    <small class="slide-subtitle">$190.00</small>

                    <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>

                    <a href="cart.html" class="button">Add to cart</a>
                </div>
                <img src="images/game-cover-3.jpg" class="slide-image">
            </div>
        </li>-->
    </ul> <!-- .slides -->
</div> <!-- .home-slider -->
