<form class="form-horizontal" style="text-align:center">
    <fieldset>
        <div class="panel panel-primary">
            <div class="panel-heading">Informação para recebimento</div>

            <div class="panel-body" style="width:100%">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Nome">Nome <h11>*</h11></label>
                    <div class="col-md-8">
                        <input id="Nome" name="Nome" placeholder="" class="form-control input-md" ng-model="address.name" required="" type="text">
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <label class="col-md-2 control-label" for="Nome">CPF <h11>*</h11></label>
                    <div class="col-md-2">
                        <input name="cpf" placeholder="Apenas números" required="" class="form-control input-md" ng-model="address.cpf" type="text" maxlength="14" OnKeyPress="formatar('###.###.###-##', this)">
                    </div>

                    <label class="col-md-1 control-label" for="Nome">Nascimento</label>
                    <div class="col-md-2">
                        <input id="dtnasc" name="dtnasc" placeholder="DD/MM/AAAA" class="form-control input-md" type="text" ng-model="address.nasc" maxlength="10" OnKeyPress="formatar('##/##/####', this)" onBlur="showhide()">
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <label class="col-md-2 control-label" for="prependedtext">Telefone <h11>*</h11></label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input id="prependedtext" name="prependedtext" class="form-control" placeholder="XX XXXX-XXXX" ng-model="address.tel" required="" type="text" maxlength="12"
                                   OnKeyPress="formatar('## ####-####', this)">
                        </div>
                    </div>

                    <label class="col-md-1 control-label" for="prependedtext">Celular <h11>*</h11></label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                            <input id="prependedtext" name="prependedtext" class="form-control" required="" placeholder="XX XXXXX-XXXX" ng-model="address.cell" type="text" maxlength="13"
                                   OnKeyPress="formatar('## #####-####', this)">
                        </div>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <label class="col-md-2 control-label" for="prependedtext">Email <h11>*</h11></label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input id="prependedtext" name="prependedtext" class="form-control" placeholder="email@email.com" required="" ng-model="address.mail" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        </div>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <label class="col-md-2 control-label" for="CEP">CEP <h11>*</h11></label>
                    <div class="col-md-2">
                        <input id="cep" name="cep" OnKeyPress="formatar('#####-###', this)" placeholder="Apenas números" required="" ng-model="address.cep" class="form-control input-md" value="" style="height:20%; text-align: center" type="search" maxlength="9" />
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" ng-click="vmAddress.search(address.cep)">Pesquisar</button>
                    </div>
                </div>

                <br />

                <!-- Prepended text-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="prependedtext">Endereço</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Rua</span>
                            <input id="rua" name="rua" class="form-control" placeholder="" required="" readonly="readonly" ng-model="address.street" type="text" />
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">Nº <h11>*</h11></span>
                            <input id="numero" name="numero" class="form-control" placeholder="" ng-model="address.number" required="" type="text">
                        </div>

                    </div>

                </div>

                <br />

                <div class="form-group">
                    <label class="col-md-2 control-label" for="prependedtext"></label>
                    <div class="col-md-4">
                        <div class="input-group">

                            <span class="input-group-addon">Complemento</span>
                            <input id="complemento" name="complemento" class="form-control" placeholder="" ng-model="address.complement" required="" type="text" />
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">Bairro</span>
                            <input id="bairro" name="bairro" class="form-control" placeholder="" required="" ng-model="address.district" readonly="readonly" type="text">
                        </div>

                    </div>
                </div>

                <br />

                <div class="form-group">
                    <label class="col-md-2 control-label" for="prependedtext"></label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Cidade</span>
                            <input id="cidade" name="cidade" class="form-control" placeholder="" required="" ng-model="address.city" readonly="readonly" type="text">
                        </div>

                    </div>

                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">Estado</span>
                            <input id="estado" name="estado" class="form-control" placeholder="" required="" ng-model="address.state" readonly="readonly" type="text">
                        </div>

                    </div>
                </div>

                <br />

                <div class="form-group">
                    <label class="col-md-2 control-label" for="Nome">Ponto de referência</label>
                    <div class="col-md-8">
                        <input id="referencia" name="referencia" placeholder="" ng-model="address.refecepoint" class="form-control input-md" type="text">
                    </div>
                </div>
                <br />
            </div>

            <br />            

            <button type="submit" class="btn btn-primary" ng-click="vmAddress.save(address)" value="Ir para pagamento">Ir para pagamento</button>
            <br />
            <br />
        </div>

    </fieldset>
</form>
