
<table class="cart">
    <thead>
        <tr>
            <th class="product-name">Produto</th>
            <th class="product-price">Valor</th>
            <th class="product-qty">Quantidade</th>
            <th class="product-total">Total</th>
            <th class="action"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cart in vmCart.carts">
            <td class="product-name">
                <div class="product-thumbnail">
                    <img src="images/{{cart.ProductId + '.png'}}" alt="" class="imgCart">
                </div>
                <div class="product-detail">
                    <h3 class="product-title">{{cart.Product}}</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nobis architecto dolorum, alias laborum sit odit, saepe expedita similique eius enim quasi obcaecati voluptates, autem eveniet ratione veniam omnis modi.</p>
                </div>
            </td>
            <td class="product-price">{{cart.Price | currency: 'R$ '}}</td>
            <td class="product-qty">
                <!--<select name="Quantity" id="Quantity" ng-model="cart.Quantity" ng-init="cart.Quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>-->

                <select ng-model="yourSelect" ng-options="option as option for option in vmCart.options" ng-change="vmCart.update(cart.ProductId, yourSelect)" ng-init="yourSelect=cart.Quantity"></select>

                <!--<select name="#" ng-model="cart.Quantity">
                    <option value="1" ng-init="cart.Quantity === '1'">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>-->
            </td>
            <td class="product-total">{{(cart.Price * cart.Quantity) | currency: 'R$ '}}</td>
            <td class="action"><a ng-click="vmCart.remove(cart.ProductId)" href=""><i class="fa fa-times"></i></a></td>
        </tr>
    </tbody>
</table> <!-- .cart -->
<div class="cart-total">
    <p><strong>Subtotal:</strong>{{vmCart.Subtotal | currency: 'R$ '}}</p>
    <p><strong>Frete:</strong> Pago pela Ticket Games</p>
    <p class="total"><strong>Total</strong><span class="num">{{vmCart.Total | currency: 'R$ '}}</span></p>
    <p>
        <a href="#" class="button muted">Comprar mais</a>
        <button ng-click="vmCart.next()" class="button">Próximo</button>
        <!--<a href="#/Endereco" class="button">Próximo</a>-->
    </p>
</div> <!-- .cart-total -->