<section>
    <header>
        <h2 class="section-title">Produtos Recentes</h2>
        <a href="#" class="all">Todos</a>
    </header>
    <div class="product-list">
        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="../../images/Fifa18.png" alt="Game 1"></a>
                </div>
                <h3 class="product-title"><a href="#">Fifa 18</a></h3>
                <small class="price">R$ 10,00</small>
                <p>Com a tecnologia Frostbite™, o EA SPORTS™FIFA 18 elimina o limite entre o mundo virtual e o real, dando vida aos jogadores, times e climas envolventes do maior esporte do mundo.</p>
                <a href="cart.html" class="button">Comprar</a>
                <a href="#" class="button muted">Detalhes</a>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:100%">
                        Sorteio 15/10/2017
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:0%">
                        0%
                    </div>
                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                        Danger
                    </div>-->
                </div>

            </div>
        </div> <!-- .product -->
        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="../../images/CrashTrilogy.png" alt="Game 2"></a>
                </div>
                <h3 class="product-title"><a href="#">Crash Bandicoot N'sane Trilogy</a></h3>
                <small class="price">R$ 10,00</small>
                <p>Seu marsupial favorito, Crash Bandicoot®, está de volta! Ele está melhorado, animado e pronto para dançar com a coleção de jogos N. Sane Trilogy. Agora você terá uma experiência inigualável com Crash Bandicoot em 4K.</p>
                <a href="cart.html" class="button">Comprar</a>
                <a href="#" class="button muted">Detalhes</a>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:80%">
                        80%
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:20%">
                        20%
                    </div>
                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                        Danger
                    </div>-->
                </div>

            </div>
        </div> <!-- .product -->
        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="../../images/SombrasdaGuerra.png" alt="Game 3"></a>
                </div>
                <h3 class="product-title"><a href="#">Sombras da Guerra</a></h3>
                <small class="price">R$ 20,00</small>
                <p>Terra-média: Sombras da Guerra™ é a sequência do aclamado Terra-média: Sombras de Mordor™, vencedor de mais de 50 prêmios do setor, incluindo Jogo do Ano de 2015 da Game Developers Choice Awards, Inovação em Jogos nos D.I.C.E. Awards de 2015 e o BAFTA por Design de Jogo.</p>
                <a href="cart.html" class="button">Comprar</a>
                <a href="#" class="button muted">Detalhes</a>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:80%">
                        80%
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:20%">
                        20%
                    </div>
                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                        Danger
                    </div>-->
                </div>

            </div>
        </div> <!-- .product -->
        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="../../images/PokemonY.png" alt="Game 4"></a>
                </div>
                <h3 class="product-title"><a href="#">Pokemon Y</a></h3>
                <small class="price">R$ 20,00</small>
                <p><b>Jogue em 3D:</b> Tanto os personagens quantos os Pokémon e especialmente, os cenários ganham profundidade e riqueza de detalhes.</p>
                <a href="cart.html" class="button">Comprar</a>
                <a href="#" class="button muted">Detalhes</a>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:65%">
                        65%
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:35%">
                        35%
                    </div>
                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                        Danger
                    </div>-->
                </div>

            </div>
        </div> <!-- .product -->
    </div> <!-- .product-list -->
</section>
<section>
    <header>
        <h2 class="section-title">Mais Comprados</h2>
        <a href="#" class="all">Todos</a>
    </header>
    <div class="product-list">

        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="../../images/GTA.png" alt="Game 1"></a>
                </div>
                <h3 class="product-title"><a href="#">Grand Theft Auto V</a></h3>
                <small class="price">R$ 5,00</small>
                <p>Vivencie o jogo em mundo aberto da Rockstar Games aclamado pela crítica , Grand Theft Auto V.</p>
                <a href="cart.html" class="button">Comprar</a>
                <a href="#" class="button muted">Detalhes</a>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:31%">
                        31%
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:69%">
                        69%
                    </div>
                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                        Danger
                    </div>-->
                </div>

            </div>
        </div> <!-- .product -->


        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="../../images/PokemonX.png" alt="Game 2"></a>
                </div>
                <h3 class="product-title"><a href="#">Pokemon X</a></h3>
                <small class="price">R$ 10,00</small>
                <p><b>Jogue em 3D:</b> Tanto os personagens quantos os Pokémon e especialmente, os cenários ganham profundidade e riqueza de detalhes.</p>
                <a href="cart.html" class="button">Comprar</a>
                <a href="#" class="button muted">Detalhes</a>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:1%">
                        1%
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:99%">
                        99%
                    </div>
                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                        Danger
                    </div>-->
                </div>

            </div>
        </div> <!-- .product -->


        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="../../images/DragonDogma.png" alt="Game 3"></a>
                </div>
                <h3 class="product-title"><a href="#">Dragon’S Dogma - Dark Arisen</a></h3>
                <small class="price">R$ 15,00</small>
                <p>Ambientado em um enorme mundo aberto, Dragon’s Dogma: Dark Arisen apresenta uma experiência gratificante de combate e ação.</p>
                <a href="cart.html" class="button">Comprar</a>
                <a href="#" class="button muted">Detalhes</a>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:100%">
                        Sorteio 15/10/2017
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:0%">
                        0%
                    </div>
                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                        Danger
                    </div>-->
                </div>
            </div>
        </div> <!-- .product -->


        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="../../images/TheWitcherIII.png" alt="Game 4"></a>
                </div>
                <h3 class="product-title"><a href="#">The Witcher III - Wild Hunt - Complete Edition</a></h3>
                <small class="price">R$ 20,00</small>
                <p>Torne-se um Witcher, um dos últimos matadores de monstro de aluguel!</p>
                <a href="cart.html" class="button">Comprar</a>
                <a href="#" class="button muted">Detalhes</a>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:100%">
                        Sorteio 12/10/2017
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:0%">
                        0%
                    </div>
                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                        Danger
                    </div>-->
                </div>
            </div>
        </div> <!-- .product -->
    </div> <!-- .product-list -->
</section>

