<section>
    <header>
        <h2 class="section-title">Produtos Recentes</h2>
        <a href="#" class="all">Todos</a>
    </header>
    <div class="product-list">
        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="images/game-1.jpg" alt="Game 1"></a>
                </div>
                <h3 class="product-title"><a href="#">Alpha Protocol</a></h3>
                <small class="price">$19.00</small>
                <p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p>
                <a href="cart.html" class="button">Add to cart</a>
                <a href="#" class="button muted">Read Details</a>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:100%">
                        Sorteio 01/12/2017
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:0%">
                        0%
                    </div>
                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                        Danger
                    </div>-->
                </div>

            </div>
        </div> <!-- .product -->
        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="images/game-2.jpg" alt="Game 2"></a>
                </div>
                <h3 class="product-title"><a href="#">Grand Theft Auto V</a></h3>
                <small class="price">$19.00</small>
                <p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p>
                <a href="cart.html" class="button">Add to cart</a>
                <a href="#" class="button muted">Read Details</a>
            </div>
        </div> <!-- .product -->
        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="images/game-3.jpg" alt="Game 3"></a>
                </div>
                <h3 class="product-title"><a href="#">Need for Speed rivals</a></h3>
                <small class="price">$19.00</small>
                <p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p>
                <a href="cart.html" class="button">Add to cart</a>
                <a href="#" class="button muted">Read Details</a>
            </div>
        </div> <!-- .product -->
        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="images/game-4.jpg" alt="Game 4"></a>
                </div>
                <h3 class="product-title"><a href="#">Big game hunter</a></h3>
                <small class="price">$19.00</small>
                <p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p>
                <a href="cart.html" class="button">Add to cart</a>
                <a href="#" class="button muted">Read Details</a>
            </div>
        </div> <!-- .product -->
    </div> <!-- .product-list -->
</section>
<section>
    <header>
        <h2 class="section-title">Mais Comprados</h2>
        <a href="#" class="all">Todos</a>
    </header>
    <div class="product-list">

        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="images/game-5.jpg" alt="Game 1"></a>
                </div>
                <h3 class="product-title"><a href="#">Watch Dogs</a></h3>
                <small class="price">$19.00</small>
                <p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p>
                <a href="cart.html" class="button">Add to cart</a>
                <a href="#" class="button muted">Read Details</a>
            </div>
        </div> <!-- .product -->


        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="images/game-6.jpg" alt="Game 2"></a>
                </div>
                <h3 class="product-title"><a href="#">Mortal Kombat X</a></h3>
                <small class="price">$19.00</small>
                <p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p>
                <a href="cart.html" class="button">Add to cart</a>
                <a href="#" class="button muted">Read Details</a>
            </div>
        </div> <!-- .product -->


        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="images/game-7.jpg" alt="Game 3"></a>
                </div>
                <h3 class="product-title"><a href="#">Metal Gear Solid V</a></h3>
                <small class="price">$19.00</small>
                <p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p>
                <a href="cart.html" class="button">Add to cart</a>
                <a href="#" class="button muted">Read Details</a>
            </div>
        </div> <!-- .product -->


        <div class="product">
            <div class="inner-product">
                <div class="figure-image">
                    <a href="single.html"><img src="images/game-8.jpg" alt="Game 4"></a>
                </div>
                <h3 class="product-title"><a href="#">Nascar '14</a></h3>
                <small class="price">$19.00</small>
                <p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p>
                <a href="cart.html" class="button">Add to cart</a>
                <a href="#" class="button muted">Read Details</a>
            </div>
        </div> <!-- .product -->

    </div> <!-- .product-list -->
</section>