<table class="cart" style="text-align:center">
    <thead>
        <tr>
            <th class="product-name" style="text-align:center !important">Produto</th>
            <th class="product-price" style="text-align:center !important">Valor</th>
            <th class="product-qty" style="text-align:center !important">Quantidade</th>
            <th class="action"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="product-name">
                <div class="product-thumbnail">
                    <img src="images/230.png" alt="" class="imgCart">
                </div>
                <div class="product-detail">
                    <br />
                    <br />
                    <br />
                    <br />
                    <h3 class="product-title">Mortal Kombat XL</h3>
                </div>
            </td>
            <td class="product-price">{{10 | currency: 'R$ '}}</td>
            <td class="product-qty">10</td>
            <td class="action"><a href=""><i class="fa fa-ticket"></i></a></td>
        </tr>
        <tr>
            <td class="product-name">
                <div class="product-thumbnail">
                    <img src="images/251.png" alt="" class="imgCart">
                </div>
                <div class="product-detail">
                    <br />
                    <br />
                    <br />
                    <br />
                    <h3 class="product-title">Mortal Kombat XL</h3>
                </div>
            </td>
            <td class="product-price">{{10 | currency: 'R$ '}}</td>
            <td class="product-qty">10</td>
            <td class="action"><a href=""><i class="fa fa-ticket"></i></a></td>
        </tr>
    </tbody>
</table>