<div class="entry-content">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="product-images">
                <figure class="large-image">
                    <a ng-repeat="image in vmProduct.product.Images | filter: { ImageType: 2 }" href="{{image.URL}}"><img src="{{image.URL}}" alt="{{vmProduct.product.Name}}"></a>
                </figure>
                <div class="thumbnails">
                    <a ng-repeat="image in vmProduct.product.Images | filter: { ImageType: 3 }" ng-show="image ? true : false" href="../../images/{{image.URL}}"><img src="../../images/{{image.URL}}" alt=""></a>
                </div>

                <br />
                <br />

                <div style="text-align:center">
                    <h3 ng-show="vmProduct.product.Raffle.SalesMade == 100"><b>Sorteio {{ vmProduct.product.Raffle.RaffleDate | date: 'dd/MM/yyyy' }}</b></h3>

                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{vmProduct.product.Raffle.SalesMade}}%" alt="O sorteio ocorrerá quando chegar a 100%">
                            {{vmProduct.product.Raffle.SalesMade}}%
                        </div>
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:{{vmProduct.product.Raffle.MissingtoSell}}%" alt="O sorteio ocorrerá quando chegar a 100%">
                            {{vmProduct.product.Raffle.MissingtoSell}}%
                        </div>
                        <!--<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                            Danger
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-8">
            <h2 class="entry-title">{{vmProduct.product.Name}}</h2>
            <small class="price"><b>{{vmProduct.product.Value | currency: 'R$ '}}</b></small>
            <div ng-bind-html="trustAsHtml(vmProduct.product.Description)"></div>
            <div class="addtocart-bar">
                <form>
                    <label for="#">Quantidade</label>
                    <select name="#" ng-model="vmProduct.quantity">                       
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button ng-click="vmProduct.addCart(vmProduct.product.Id, vmProduct.quantity)" class="button">Comprar</button>
                    <!--<input type="submit" value="Comprar">-->
                </form>
                <div class="social-links square">
                    <strong>Share</strong>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <header>
        <h2 class="section-title">Mais produtos do {{vmProduct.product.Category.Name}}</h2>
    </header>
    <div class="product-list">
        <div ng-repeat="product in vmProduct.recent | orderBy: 'Order'" class="product">
            <div class="inner-product" style="text-align: center !important;">
                <div class="figure-image">
                    <!--<a href="#/Produto/{{product.Id}}"><img src="../../images/{{product.Id + '.png'}}" alt="{{product.Name}}" class="img204x234"></a>-->                   
                    
                    <img ng-repeat="image in product.Images | filter: { ImageType: 2 }" src="{{image.URL}}" alt="{{product.Name}}" class="img204x234">
                </div>
                <h3 class="product-title" style="text-align: center !important;"><a href="#/Produto/{{product.Id}}">{{product.Name}}</a></h3>
                <small class="price" style="text-align: center !important;">{{product.Value | currency: 'R$ '}}</small>
                <!--<p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p>-->

                <h3 ng-show="product.Raffle.SalesMade == 100"><b>Sorteio {{ product.Raffle.RaffleDate | date: 'dd/MM/yyyy' }}</b></h3>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{product.Raffle.SalesMade}}%" alt="O sorteio ocorrerá quando chegar a 100%">
                        {{product.Raffle.SalesMade}}%
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:{{product.Raffle.MissingtoSell}}%" alt="O sorteio ocorrerá quando chegar a 100%">
                        {{product.Raffle.MissingtoSell}}%
                    </div>
                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                        Danger
                    </div>-->
                </div>

                <button ng-click="vmProduct.addCart(vmProduct.product.Id)" class="button">Comprar</button>
                <!--<a href="#" class="button">Comprar</a>-->
                <a href="#/Produto/{{product.Id}}" class="button muted">Detalhe</a>
            </div>
        </div>
    </div> <!-- .product-list -->
</section>