
<div class="filter-bar">
    <div class="filter">
        <span>
            <label>Ordenar por:</label>
            <select name="#">
                <option value="#">Popularidade</option>
                <option value="#">Mais comprados</option>
                <option value="#">Recentes</option>
                <option value="#">Maior preço</option>
                <option value="#">Menor preço</option>
            </select>
        </span>
        <!--<span>
            <label>Genre</label>
            <select name="#">
                <option value="#">Show All</option>
                <option value="#">Action</option>
                <option value="#">Racing</option>
                <option value="#">Strategy</option>
            </select>
        </span>-->
        <span>
            <label>Show:</label>
            <select name="#">
                <option value="#">8</option>
                <option value="#">16</option>
                <option value="#">24</option>
            </select>
        </span>
    </div> <!-- .filter -->
    <div class="pagination">
        <a href="#" class="page-number"><i class="fa fa-angle-left"></i></a>
        <span class="page-number current">1</span>
        <a ng-repeat="page in vmSearch.pages" href="" class="page-number">{{page.number + 1}}</a>
        <!--<a href="#" class="page-number">3</a>
        <a href="#" class="page-number">...</a>
        <a href="#" class="page-number">12</a>-->
        <a href="#" class="page-number"><i class="fa fa-angle-right"></i></a>
    </div> <!-- .pagination -->
</div> <!-- .filter-bar -->

<div class="product-list" style="text-align: center">

    <div class="product" style="width: 100%;" ng-show="vmSearch.products.length <= 0">
        <div class="inner-product">
            <h1>Não foi encontrado produto</h1>
        </div>
    </div> <!-- .product -->


    <div ng-repeat="product in vmSearch.products | orderBy: 'Order'" class="product">
        <div class="inner-product">
            <div class="figure-image">

                <a href="#/Produto/{{product.Id}}"><img src="../../images/{{product.Id + '.png'}}" alt="{{product.Name}}" class="img204x234"></a>
                <!--<a href="single.html"><img src="images/game-1.jpg" alt="Game 1"></a>-->
            </div>
            <h3 class="product-title" style="text-align: center !important;"><a href="#/Produto/{{product.Id}}">{{product.Name}}</a></h3>
            <!--<p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p>-->
            <small class="price" style="text-align: center !important;">R$ {{product.Value}}.00</small>

            <h3 ng-show="product.Raffle.SalesMade == 100"><b>Sorteio {{ product.Raffle.RaffleDate | date: 'dd/MM/yyyy' }}</b></h3>

            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{product.Raffle.SalesMade}}%" alt="O sorteio ocorrerá quando chegar a 100%">
                    {{product.Raffle.SalesMade}}%
                </div>
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width:{{product.Raffle.MissingtoSell}}%" alt="O sorteio ocorrerá quando chegar a 100%">
                    {{product.Raffle.MissingtoSell}}%
                </div>
                <!--<div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
                    Danger
                </div>-->
            </div>

            <a href="#" class="button">Comprar</a>
            <a href="#/Produto/{{product.Id}}" class="button muted">Detalhe</a>
        </div>
    </div> <!-- .product -->
</div> <!-- .product-list -->
<div class="pagination-bar">
    <div class="pagination">
        <a href="#" class="page-number"><i class="fa fa-angle-left"></i></a>
        <span class="page-number current">1</span>
        <a ng-show="vmSearch.pages.length <== 1" ng-repeat="page in vmSearch.pages" href="" class="page-number">{{page.number + 1}}</a>
        <!--<a href="#" class="page-number">2</a>
            <a href="#" class="page-number">3</a>
            <a href="#" class="page-number">...</a>
            <a href="#" class="page-number">12</a>-->
        <a href="#" class="page-number"><i class="fa fa-angle-right"></i></a>
    </div> <!-- .pagination -->
</div>